.user-shield{
    position: relative;
    left:10%;
    width: 80%;
    top:100px;
    display: flex;
    align-items: center;
}
.user-shield::before{
    content:' ';
    width: 100%;
    display: flex;
    height: 200px;
    position: absolute;
    z-index: -1;
    background-color: #aaaaaa;
    border-radius: 20px;
    opacity: 0.6;
}
.user{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.user>img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin-left: 20px;
    object-fit: cover;
}
.user-info{
    height: 100%;
    margin-left: 15px;
}
.user-info>p{
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}
.user>a{
  color: black;
  position: absolute;
  right: 20px;
  top:5px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  border: none;
  background-color: white ;
  transition: 0.4s;
}
.user>a>svg{
  border-radius: 100%;
    
}
.user>a:hover{
  transform: rotate(360deg);
  background-color:#aaaaaa;
}
.tabs {
  font-size: 0;
  position: relative;
  top:130px;
  width:80%;
  left:10%
  }

.tabs>input[type="radio"] {
  display: none;
  }
.tabs>input[type="radio"]:checked+label {
  border-bottom: 1px solid #aaaaaa;
  }

.tabs>div {
  display: none;
  padding: 10px 15px;
  font-size: 16px;
  }

#tab-btn-1:checked~#video,
#tab-btn-2:checked~#playlists,
#tab-btn-3:checked~#community{
  display: flex;
  }

.tabs>label {
  background-color: #fff;
  border-bottom: 0px solid #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  margin-left: 20px;
  left:calc(50% - 230px);
  font-size: 18px;
  transition: border-bottom 0.2s;
  cursor: pointer;
  position: relative;
  top: 1px;
  font-family: 'Nunito', sans-serif;
}
#video{
  width: 100%;
  position: relative;
}
.nothing-video{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nothing-video>p{
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
}
.nothing-video>a{
  font-size: 24px;
  color: black;
  font-family: 'Nunito', sans-serif;
}
#playlists{
  margin-top: 25px;
}
.playlist-card>a>img,.image-null{
  width: 230px;
  height: 130px;
  border-radius: 20px;
}
.playlist-card{
  margin-right: 15px;
}
#playlists>div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image-null{
  background-color: grey;
}
.playlist-card>a{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
#video>div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.video-card,.add-video{
  margin-right: 15px;
  margin-top: 35px;
  position: relative;
}
.video-card>a>img{
  width: 225px;
  max-block-size: 126px;
  border-radius: 15px;
}
.video-card>a{
  text-decoration: none;
}
.about>p{
  font-family: 'Rubik', sans-serif;
  height: calc(24px*2);
  overflow: hidden;
  color: black;
  font-size: 16px;
  width: 100%;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.about>p1{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color:#6e6e6e
}
.add-video>a{
  width: 225px;
  height: 238px;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.add-video>a>.icon{
  background-color: grey;
  width: 100%;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  opacity: 0.6;
}
.add-video>a>p{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
#community{
  flex-direction: column;
  align-items: center;
}
#community>.nothing-massage>p{
  margin-top: 150px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
.form-comment{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-comment>textarea{
  width: 60%;
  border: 1px solid rgb(197, 197, 197);
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  resize: none;
}
.form-comment>button{
  border: none;
  background-color: white;
  border-radius: 40px;
  transition: 0.3s;
  margin-left: 15px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;;
}
.form-comment>button:hover{
  background-color: #aaaaaa;
}
.avtor-comment>a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
}
.avtor-comment>a>p{
  font-family: Arimo, sans-serif;
  font-size: 15px;
}
#community>div{
  width: 60%;
}
.avtor-comment>a>img{
  width: 45px;
  object-fit: cover;
  height: 45px;
  border-radius: 100%;
}
.avtor-comment>a,.about>a,.change-video{
  color: black;
  text-decoration: none;
}
.communityMassage{
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.communityMassage>p{
  white-space: pre-line;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  margin-left: 15px;
}
.change-video{
  position: absolute;
  right: 5px;
  top:5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  transition: 0.1s;
}
.change-video:hover{
  background-color: #aaaaaa;
  color:black
}