.logo{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    top:-16px;
}
.logo img{
    width: 55px;
    height: 38px;
}
.logo p{
    text-align: center;
    font-size: 24px;
    left:10px;
    top:2px;
    font-family: 'JejuGothic';
    font-weight: bold;
    text-align: center;
    position: relative;
}
.url-logo{
    position: relative;
    left:47px;
    width: 180px;
    height: 50px;
}
.url-logo a{
    text-decoration: none;
    color:black;

}
