.video{
    position: relative;
    top:100px;
    left: 5%;
    width: 90%;
}
.video-info{
    display: flex;
    flex-direction: column;
}
.video-info>input[type=text]{
    margin-bottom: 15px;
    width: 40%;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
}

.video-info>textarea{
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    resize: none;
}
.video-info>select{
    width: 25%;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(197, 197, 197);
}
.video-info>p,.title-image>p,.video-player>p{
    margin-bottom: 0px;
    margin-top: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
}
.title-image>img{
    width: 285px;
    height: 145px;
    border-radius: 20px;
    display: none;
    object-fit: cover;
}
.title-image{
    position: relative;
    width:285px ;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.button-img,.video-ground{
    width: 250px;
    background-color: white;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.15s;
    cursor: pointer;
}
.svg-upload,.video-svg{
    border-radius: 40%;
    background-color: white;
    transition: 0.1s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button-img:hover .svg-upload,.video-ground:hover .video-svg{
    background-color: #aaaaaa ;
}
.title-image>input[type=file]{
    display: none;
}
.video-player{
    width: auto;
}
.video-player>video{
    width: 712px;
    height: 420px;
    object-fit: cover;
    display: none;
}
.video-player>input[type=file]{
    display: none;
}
.button-operation{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.save{
    background-color: rgb(20, 255, 39);
    border-radius: 20px;
    border: 1px solid rgb(128, 255, 139);
    transition: 0.35s;
}
.create-massage{
    width: 300px;
    border-radius: 20px;
    background-color: rgb(255, 100, 100);
    height: 60px;
    padding: 5px;
    position: relative;
    transition: 0.15s;
    display: none;
}
.create-massage>p{
    position: absolute;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.svg-upload{

}
.video-svg{

}