.video-view{
    position: relative;
    left:65px;
    top:65px;
    width: 96%;
    display: flex;
    height: 100%;
    flex-wrap:wrap;
}
.video-performance{
    width: 350px;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    cursor: pointer;
}
.video-performance>a{
    max-width: 315px;
    min-width: 315px;
    height: 145px;
}
#user{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.video-performance>a>img{
    width: 90%;
    height: 100%;
    max-block-size: 145px;
    background-size: cover;
    border-radius: 10px;
}
.about-video{
    display: flex;
    width: 100%;
    position: relative;
}
.about-video>a>img{
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
    height: 35px;
}
.info-video{
    position:relative;
    word-break: break-all;
    z-index: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.info-video>a>p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-left: 10px;

    hyphens: auto;
    -webkit-line-clamp: 2; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    margin-bottom: 10px;
}
#title{
    height: 54px;
    width:250px;
    color: black;
    text-decoration: none;
}
.info-video>a{
    text-decoration: none;
}
.info-video>a>p1{
    overflow: hidden;
    font-size: 15px;
    color:rgb(150, 150, 150);
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}
.history{
    position: relative;
    top:100px;
}
.history hr{

    position: relative;
}