{% extends 'sample.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'video/css/history.css' %}">
{% verbatim %}
<div class="history">
    <div v-for="video,index in videos">
        <div class="date" v-if="index != 0">
            <p  v-if="videos[index].date_view != videos[index-1].date_view">{{video.date_view}}</p>
            <a style="text-decoration: none;" :href="`/${video.video.id}/`">
                <div class="video">
                    <img :src="video.video.title_image" alt="">
                    <div class="info-video">
                        <p>{{video.video.title}}</p>
                        <div class="avtor-info">
                            <img :src="video.video.avtor.avatar" alt="">
                            <p1>{{video.video.avtor.username}}</p1>
                        </div>
                        <p1>{{video.views_counter}} </p1>
                    </div>
                </div>
            </a>
        </div>
        <div class="date" v-else>
            <p>{{video.date_view}}</p>
            <a style="text-decoration: none;" :href="`/${video.video.id}/`">
                <div class="video">
                    <img :src="video.video.title_image" alt="">
                    <div class="info-video">
                        <p>{{video.video.title}}</p>
                        <div class="avtor-info">
                            <img :src="video.video.avtor.avatar" alt="">
                            <p1>{{video.video.avtor.username}}</p1>
                        </div>
                        <p1>{{video.views_counter}} </p1>
                    </div>
                </div>
            </a>
        </div>

    </div>
    
</div>
{% endverbatim %}
<script src="{% static 'video/js/video_history.js' %}"></script>
{% endblock %}